aiohttp
aria2p
beautifulsoup4
git+git://github.com/google/chatbase-python.git
hachoir
numpy
Pillow
tgcrypto
#YouTube-dl
git+git://github.com/ytdl-org/youtube-dl
requests==2.24.0
telethon
https://github.com/prgofficial/pyrogram/archive/asyncio.zip
